header{
    background-image: url('../../assets/bg-header-mobile.svg');
    height: 155px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(91, 164, 164);
}
@media (min-width: 376px){
    header{
        background-image: url('../../assets/bg-header-desktop.svg');
    }
}