.button {
    font: inherit;
    border: 1px solid transparent ;
    border-radius: 5px;
    background: hsla(180, 29%, 50%, .17) ;
    color: hsl(180, 29%, 50%);
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
    padding: 6px 8px 3px 8px;
  }
  
  .button:focus {
    outline: none;
  }
  .transparent{
    background: transparent;
    margin: 0 20px 0 20px;
  }
  .transparent:hover{
    text-decoration: underline;
  }
  .lightGrey:hover{
    background:hsl(180, 29%, 50%);
    color: #ffffff;
  }
  .darkGrey:hover{
    background: hsl(180, 14%, 20%);
  }